

.containerLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  width: 100vw; 
  background-color: #ffffff;
}

.logo {
  margin-bottom: 20px;
}

.logo img {
  max-width: 200px;
}

.paragraph {
  font-size: 16px;
  color: #777777;
  margin-bottom: 30px;
  text-align: center;
}

.loginBox {
  width: 100%;
  max-width: 400px;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 2px 10px #464545;
  border-radius: 8px;
  text-align: left;
}

.loginError {
  color: red;
  font-size: 10px;
}

.loginTittle {
  margin-bottom: 20px;
  font-size: 24px;
  color: #777777;
  text-align: left;
  font-weight: bold;
}

.loginInputGroup {
  margin-bottom: 20px;
  text-align: left;
}

.loginInputGroup input {
  width: 100%;
  padding: 10px 10px 10px 0; 
  margin-top: 5px;
  border: none;
  border-bottom: 1px solid #464444; 
  font-size: 16px;
  outline: none;
  color: #000000;
}

.loginInputGroup input::placeholder {
  color: #999; /* Cor do placeholder */
}


.loginButton {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
}
